<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Weather Application</title>
    
        <link rel="stylesheet" href="/styles/main.css">
    
       
    </head>
<body style="flex-direction: column;">

    <h1 style="color: white;">Temperature of <%= CityName %>  is : <%= Temprature %></h1>
    <br>

    <form action="/goToHomePage" method="POST">

        <button type="submit" class="button-25">Go To Home Page</button>
    </form>

</body>
</html>